
/******  custom Propertys****/
:root{
    --primary-color: #E8BAEC;
    --background-color:#F6E9F9;
    --black: #0F0A0A;
    --white: #ffffff ;
    --font-family: 'Oxygen', sans-serif;
}



/*****  Reseteo *****/




/******** Components *******/




/******** utilities *************/



/******* Syte Styles *******/


